.sidebar {
  width: 310px;
  height: 80vh;
  background: #0f0f11;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  position: fixed;
  top: 86px;
  z-index: 9999;
  .stat-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 6px 0;
    .stat {
      font-weight: 500;
      font-size: 16px;
      color: #e8e8e8;
    }
    .value {
      font-weight: 900;
      font-size: 16px;
      color: #e8e8e8;
    }
  }

  .player-info-container {
    padding: 23px;
    margin-bottom: 23px;
  }
  .wearables-container {
    height: 80px;
    margin-bottom: 22px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .child {
      background: #212027;
      padding: 22px 0;
      height: 100%;
      width: 49.5%;
      text-align: center;
      align-self: center;

      p {
        font-weight: 500;
        font-size: 11px;
        line-height: 12px;
        color: #e8e8e8;
      }
    }
  }
  .room-info-container {
    padding: 23px;
    background: #3b307a;
    height: 100%;
    p {
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      color: #e8e8e8;
      margin: 0;
      padding: 0;
    }
    .room-title {
      margin-bottom: 18px;
    }
  }
}

.item-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
