.bottom-bar-container {
  background-color: #0f0f11;
  height: 80px;
  padding: 20px 0;
  color: #e8e8e8;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 9999;
  .action-button {
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    width: 96px;
    color: #d6d3d3;
    text-transform: uppercase;
    display: flex;
    flex-flow: column nowrap;
    margin-right: 50px;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
    img {
      margin-bottom: 8px;
    }
  }
}

.inventory-container {
  position: fixed;
  bottom: 120px;
  left: 0;
  width: 400px;

  z-index: 9999999;
  background-color: black;
  padding: 50px;
  box-sizing: border-box;
}
