.map-view-container {
  background: #d9d6d6;
  width: 100%;
  position: relative;
  right: 0;
  padding: 0 0 2100px 0;
  box-sizing: border-box;
  .map-child {
    position: absolute;
    width: 80px;
    height: 80px;
    line-height: 40px;
    vertical-align: middle;
    display: flex;
    flex-flow: column nowrap;
    .top-link,
    .bottom-link {
      height: 20px;
      width: 40px;
      margin: 0 auto;
    }
    .middlerow {
      display: flex;
      flex-flow: row nowrap;
      .left-link,
      .right-link {
        width: 20px;
      }
      .content {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }
  }
}

.rc-tooltip {
  z-index: 99999;
  position: fixed;
}
.rc-slider-tooltip {
  z-index: 99999;
  position: fixed;
}
